 @import url('https://fonts.googleapis.com/css2?family=Margarine&family=Poppins&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Margarine', sans-serif;
}
html{
	background-color: black;	background-image: url();
}

header ul{
	display: flex;
	justify-content: space-around;
}
header ul li{
	list-style: none;
	font-size: 28px;
}
header ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
header ul li a button{
	border:2px solid white;
	font-size: 28px;
	color: white;
	border-radius: 50px;
	padding: 10px 25px;
	background: none;
	transition: 0.5s;	
}
header ul li a button:hover{
	transform: scale(1.2);
	background-color: white;
	color:black;
	cursor: pointer;	
}
